{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<h2 style="text-align:center;">Community Messages!</h2>
<div class='community messages'>
    <div class='ComHead'>
        <div style="top: 41.5%;right: 36%;text-align:center;" class="form-style-2-heading">
            <span style="background-color: cyan;">
                Send Your Message Today!
            </span>
            <span style="background-color: cyan;">
                <a href="{% url 'personnel:commessage'%}">Go!</a>
            </span>
        </div>
        <br>
    <div>
    {% for message in messages %}
        <div  class="containermessage">
            <span style="float: right;font-size: medium;"><a href="{% url 'personnel:detail' slug=message.slug%}">Read More -></a></span>
            <div>{{message.snippet}}
            <span style="font-size: small;" class="time-right">{{message.date}}</span>
            </div>
        </div>
        <br>
    {% endfor %}
    </div>
    <div class="columnright">
        <h2>Bulletin Board</h2>
        <ul class="board">
        {% for notice in notices %}
        <div class="board">
        <li class="board"><a href="{% url 'personnel:notice' title=notice.Title%}">{{notice.Title}}</a></h2>
        <p class="board">{{notice.snippet}}</p>
        </div>
        {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}