{% extends 'personnel/base.html' %}
{% load static %}
{% block content %}
    <div class='message-detail'>
        <div class="message">
            <h2 style="color:black;text-align:center;">{{message.title}}</h2>
            <p style="color:black;text-align:center;">{{message.body}}</p>
            <p style="color:black;text-align:center;">{{message.date}}</p>
            <img src="{{ message.thumb.url}}"width="300" height="300" style=" display: block;margin-left: auto;margin-right: auto;width: 50%;">
            <footer><a href="{% url 'personnel:community'%}">Back</a></footer>
        </div>
    </div>
{% endblock %}