{% extends 'personnel/base.html' %}
{% load static %}
{% block content %}

<br>
<p style="padding-left: 10px ">
<h3>The Rural Water Supply and Sanitation Project seek to improve access by rural populations to safe potable water and to support implementation of a program to supply water to rural populations.</h3>
<div class="row">
    <div class="column">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <br>
            <img src="{%static 'drop.png'%}" alt="Avatar" style="width:250px;height:250px;">
          </div>
          <div class="flip-card-back">
            <h1>Water Facilities</h1>
            <img src="{%static 'drop.png'%}"height="50" width="50">
            <h4>Clean drinking water must be available to all. With that as motto, we invest in large and small scale water facilities in the villages.</h4>
            
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <br>
            <img src="{%static 'toilet.png'%}" alt="Avatar" style="width:250px;height:250px;">
          </div>
          <div class="flip-card-back">
            <h1>Sanitation Facilities</h1>
            <img src="{%static 'toilet.png'%}"height="50" width="50">
            <p>We invest in sanitation facilities as our contribution towards cleanliness. </p>
            
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <br>
            <img src="{%static 'group.png'%}" alt="Avatar" style="width:250px;height:250px;">
          </div>
          <div class="flip-card-back">
            <h1>Participatory Approach</h1>
            <img src="{%static 'group.png'%}"height="50" width="50">
            <p>There is no power for change greater than a community discovering what it cares about. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  </p>
  <br>
  <br>
  
            

{% endblock %}