{% extends 'personnel/base.html' %}
{% load static %}
{% block content %}
<h2 style="text-align:center;">Local Personnel</h2>
    <table class="center" style="width: 50%;" >
      <tr>
        <th>Personnel ID</th>
        <th>Village ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Occupation</th>
      </tr>
      {% for personnel in personnels %}
      <tr>
        <td>{{personnel.Personnel_ID}}</td>
        <td>{{personnel.Village_ID}}</td>
        <td>{{personnel.First_name}}</td>
        <td>{{personnel.Last_name}}</td>
        <td>{{personnel.Occupation}}</td>
     </tr>
      {% endfor %}
{% endblock %}