{% extends 'personnel/base.html' %}
{% load static %}
{% block content %}
<h2 style="text-align:center;">Committee of Organizations</h2>
    <table class="center" style="width: 50%;" >
      <tr>
        <th>Organization ID</th>
        <th>Organization Name</th>
        <th>Contact</th>
      </tr>
      {% for organization in organizations %}
      <tr>
        <td>{{organization.Organization_ID}}</td>
        <td>{{organization.Organization_name}}</td>
        {% for contact in contacts %}
        {% if contact.Organization_ID == organization.Organization_ID %}
            <td>{{contact.Contact}}</td>
        {% endif %}
        {% endfor %}
     </tr>
      {% endfor %}
{% endblock %}