{% extends "personnel/base.html" %}
{% load static %}
{% block content %}
<h1 style="text-align: center;">Publish Message to All users</h1>
<h2 style="text-align: center;" class="alertmessage">
  {% if messages %}
  {% for message in messages %}
      {{ message }}
  {% endfor %}
  {% endif %}
</h2>
<div class="containersend">
  <form  action="/personnel/publish/" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <div class="row">
      <input style="float: right;" type="submit" value="Submit">
    </div>
  </form>
</div>
{% endblock %}