{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<h2 style="text-align:center;">Community Messages!</h2>
<div style="text-align:center;" class='community messages'>
    <div class="form-style-2" >
        <div class="form-style-2-heading">Send Your Message Today!</div><br>
        <div>
            <a href="{% url 'commessage'%}">Go!</a>
        </div>
    {% for message in messages %}
        <div style="color:black;text-align:center;">
            <h2 style="color:black;text-align:center;"><a href="{% url 'detail' slug=message.slug%}">{{message.title}}</a></h2>
            <p style="color:black;text-align:center;">{{message.snippet}}</p>
            <p style="color:black;text-align:center;">{{message.date}}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}