{% extends "home/base.html" %}
{% load static %}
{% block content %}
<h1 style="text-align: center;">Send Your Message!</h1>
<div class="containersend">
    <form  action="/home/community/messages/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.as_p}}
      <div class="row">
        <footer style="float: left;" class = 'back'><a href="{% url 'home:community'%}">Back</a></footer>
        <input style="float: right;" type="submit" value="Submit">
      </div>
    </form>
</div>
{% endblock %}