{% extends "home/base.html" %}
{% load static %}
{% block content %}
<h2 style="text-align: center;">Project Status</h2>
<h3 style="text-align: center;" class="alertmessage">
  {% if messages %}
  {% for message in messages %}
      {{ message }}
  {% endfor %}
  {% endif %}
</h3>
<div class="containersend">
    <div class="form-style-2-heading">Provide your project information</div>
    <form action="/home/status/" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <div class="row">
            <input style="float: right;" type="submit" value="Submit">
        </div>
  </form>
</div>
{% endblock %}